:root {
    --roboto-font: 'Roboto', sans-serif;
    --hero-background-color: #1F2937;
}

body {
    margin: 0;
}

nav {
    width: 100%;
    background-color: var(--hero-background-color);
    display: flex;
    justify-content: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    width: 100%;
    max-width: 960px;
    margin: 0;
    padding: 0.8rem 0 0.4rem 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-family: var(--roboto-font);
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 1rem;
    font-size: 18px;
    font-family: var(--roboto-font);
    color: #f9faf8;
    font-weight: 100;
}

main {
    display: flex;
    justify-content: center;
    background-color: var(--hero-background-color);
}

.hero-section {
    display: flex;
    justify-content: space-around;
    padding: 10% 0;
    width: 100%;
    max-width: 960px;
}